html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#container {
    height: auto;
    min-height: 100%;
    position: relative;
}

/* ------------------------------------------------------------------------ */

.albums {
    list-style: none;
    padding: 0 2%;
}

.album {
    list-style: none;
    display: inline-block;
    position: relative;
    width: 80%;
    margin: 0;
    padding: 1em 2em;
}

.track {
    cursor: pointer;
}

.album .tracks {
    margin: 0;
    padding: .5em 0 0 1.5em;
}

/* = queue ================================================================ */

@import "queue/*.png";

$queue-sprite-dimensions: true;

@include all-queue-sprites;

.album {
    button {
        @include reset-box-model;
        @include hide-text;
        cursor: pointer;
    }
}

/* ------------------------------------------------------------------------ */

.album-title {
    margin-right: 10px;
}

.playlist {
    position: absolute;
    width: 30%;
    padding: 0 3%;
    min-height: 100%;
}

/* = control ============================================================== */

@import "control/*.png";

$control-sprite-dimensions: true;

@include all-control-sprites;

nav {
    text-align: center;

    button {
        @include reset-box-model;
        @include hide-text;
        cursor: pointer;
    }
}

/* ------------------------------------------------------------------------ */

.library {
    margin-left: 36%;
    padding: 0.1em 2%;
}
